[Unit]
Description=Lock X session using csxlock

[Service]
User=cash
Environment=DISPLAY=:0
ExecStart=/usr/bin/csxlock -f -*-gohufont-*-*-*-*-17-*-*-*-*-*-*-* -b "#19171c" -o "#576ddb" -w "#be4678"

[Install]
WantedBy=sleep.target
